<ion-view view-title="movie">
		<ion-content has-subheader="false" ng-controller="MovieCtrl">
			<div class="icon-item">
				<i class="icon ion-android-arrow-back arrow"></i>
				<i class="icon ion-forward forward"></i>
				<i class="icon ion-heart heart"></i>
				<i class="icon ion-star start"></i>
			</div>
			<img ng-src="http://www.myapifilms.com/imdb/image/poster/{{poster}}" alt="" width="100%">
			<div class="card margin-horizontal-none margin-vertical-10">
			  <div class="item item-text-wrap">
			    <p>{{plot}}</p> 
			  </div>
			</div>
			<div class="card margin-horizontal-none margin-vertical-10">
				<ion-scroll zooming="false" direction="x" >
					<div class="item">
					  <img src="../img/morfeo.jpg" alt="" height="200px">
					  <img src="../img/morfeo.jpg" alt="" height="200px">
					  <img src="../img/morfeo.jpg" alt="" height="200px">
					  <img src="../img/morfeo.jpg" alt="" height="200px">
					  <img src="../img/morfeo.jpg" alt="" height="200px">
					  <img src="../img/morfeo.jpg" alt="" height="200px">
					  <img src="../img/morfeo.jpg" alt="" height="200px">
					  <img src="../img/morfeo.jpg" alt="" height="200px">
					  <img src="../img/morfeo.jpg" alt="" height="200px">
					  <img src="../img/morfeo.jpg" alt="" height="200px">
					</div>
				</ion-scroll>
			</div>
			<div class="video-container">
			         <iframe src="http://www.youtube.com/embed/dFVxGRekRSg" frameborder="0" width="560" height="315"></iframe>
			</div>
		</ion-content>
</ion-view>