<ion-view view-title="search">
	<ion-header-bar align-title="center" class="bar-balanced">
		<h1 class="title">Movie Search</h1>
	</ion-header-bar>
	  
	<ion-content ng-controller="AppCtrl">
		<div class="list">
		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="search movie" ng-model="title">
		    </label>
		    <button class="button button-small button-balanced" ng-click="getMovie(title)">
		      search
		    </button>
		  </div>
		</div>
		<label ng-show="search == true" ng-hide="search != true" class="label">Recopilando Información... <ion-spinner icon="spiral"></ion-spinner></label>
		<img src="../img/cinedato.jpg" alt="" width="100%">
	</ion-content>
</ion-view>
